# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
env/

# Jupyter
.ipynb_checkpoints

# matrix_1000x200_sparse40.csv
prediction_csv/
data_python/
*.sqlite
*.db

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/


